<h1>ノートの新規作成</h1>

<%= form_for @note do |form| %>
  <div>
    <h3>タイトル</h3>
    <%= form.text_field :title %>
  </div>
  <div>
    <h3>テキスト</h3>
    <%= form.text_area  :content  %>
  </div>
  <%= form.submit '登録' %>
<% end %>
