<div class="container" bg-info>
  <h1>ノートの新規作成</h1>
</div>

<%= form_for @note do |f| %>
  <div class="container" bg-info>
    <div>
      <h3>タイトル</h3>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div>
      <h3>テキスト</h3>
      <%= f.text_area  :content, :class => "form-control" %>
    </div>
  </div>
  <div class="container" bg-info>
    <br />
    <%= f.submit '登録', :class => "btn btn-primary" %>
  </div>
<% end %>
