<h1>ユーザ新規作成</h1>

<%= form_for @user do |f| %>
  <div>
    <label>アカウント</label>
    <%= f.text_field :account %>
  </div>
  <div>
    <label>メールアドレス</label>
    <%= f.text_field :mail_address %>
  </div>
  <%= f.submit '登録' %>
<% end %>
