default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: kingyo_SAMPLE
development:
  <<: *default
  database: kingyo_development_SAMPLE
test:
  <<: *default
  database: kingyo_test_SAMPLE
production:
  <<: *default
  database: kingyo_production
  password: <%= ENV['KINGYO_DATABASE_PASSWORD'] %>
